
* {
    background-color: brown;

}


.header {
    text-align: center;
    text-decoration: underline;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    color: brown;
    background-color: black;
    padding: 12px 16px;
    margin-top: 20px;
}

.small-header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: black;
    color: brown;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: -18px;
    margin-right: -8px;
    text-align: center;
    height: 30px;

}



.link-list {
    font-size: 20px;
    padding-top: 100px;
}

.link {
    color: black;
    font-weight: 700;
}

.ingredients {
    background-color: black;
    color: white;
    margin-right: -8px;
}

.points {
    padding: 10px;
   
}

.points2 {
    background-color: black;
}

.steps {
    background-color: black;
    color: white;margin-right: -8px;

 
}


img {
    height: auto; 
    width: 500;
    margin: auto; 
}

.images {
    background-color: black;
    width: 300px;
    padding: 10px;
    margin: 0 auto;
}